* {
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(91, 91, 99, 0.7), rgb(27, 202, 4, 0.7)), url("./BlackjackHand.jpg");
    background-position: center;
    background-size: cover;
}  

.header {
    width: 100%;
    background-position: center;
    background-size: cover;
    color: white;
}

.header h1 {
    font-size: 200%;
}
nav {
    display: flex;
    padding: 2.2% 3.2%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}


.nav-links ul li::after {
    content: '';
    width: 0%;
    background: rgb(114, 253, 0);
    display: block;
    margin: auto;
    height: 2px;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.wrapper h1 {
    font-size: 28px;
    padding: 8px;
    color: rgb(255, 255, 255);
}

.wrapper h2 {
    font-size: 23px;
    padding: 10px;
    color: rgb(204, 255, 215);
}

.wrapper p {
    color: rgb(204, 255, 215);
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    border: 5px dashed rgb(89, 255, 83);
    margin: 5px;
    padding: 15px;
}

.wrapper {
    margin: 5px;
    padding: 15px;
}

.cards img {
    transition: 1s;
    width: 250;
    height: 190px;
    padding: 15px;
    margin-right: 120px;
    border-radius: 35%;
}

.cards img:hover {
    opacity: 80%;
}
